{%extends 'base.html'%}
{%block title%}Спасибо{%endblock%}
{%block content%}
<section class="my-contact-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'blog:contacts'%}">Форма обратной связи</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Спасибо</li>
                    </ol>
                </nav>
                <p class="lead">Ваше письмо отправлено! Большое спасибо за обратную связь!!!</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}