{%extends 'base.html'%}
{%block title%}Личный кабинет{%endblock%}
{%block content %}
<section class="my-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{%url 'blog:main'%}">Главная</a></li>
                        <li class="breadcrumb-item active">Личный кабинет</li>
                    </ol>
                </nav>
                <div class="row">
                    <ul class="col-md-4 list-group mb-3">
                        <h5>Опции:</h5>
                        <li class="list-group-item"><a href="{%url 'password_change'%}">Сменить пароль</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}