{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="my-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{%url 'signin'%}">Авторизация</a>
                    </li>
                    <li class="breadcrumb-item active">Сброс пароля</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <p class="lead">Введите адрес электронной почты и мы отправим письмо с ссылкой на страницу сброса
                        пароля.
                    </p>
                    <form action="." method="post">
                        {%csrf_token%}
                        {%if form.non_field_errors%}
                        <div class="alert alert-danger" role="alert">
                            {{form.non_field_errors.as_text}}
                        </div>
                        {%endif%}
                        {%for field in form%}
                        <div class="mb-3">
                            <label for="{{field.auto_id}}" class="form-label visually-hidden">{{field.label}}</label>
                            {{field}}
                            {%if field.errors%}
                            <div class="alert alert-danger mt-1 " role="alert">
                                {{field.errors.as_text}}
                            </div>
                            {%endif%}
                        </div>
                        {%endfor%}
                        <button class="btn btn-primary mb-3" type="submit">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}