{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" class="my-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{%url 'signin'%}">Вход</a></li>
                    <li class="breadcrumb-item active">Смена пароля</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <p class="lead">Пароль успешно изменён!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}