{%extends 'base.html'%}
{%block title%}Вход{%endblock%}
{%block content%}
<section class="my-signin-form">
    <div class="container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="my-4">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{%url 'blog:main'%}">Главная</a></li>
                            <li class="breadcrumb-item active">Авторизация</li>
                        </ol>
                    </nav>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <p class="lead">Введите имя пользователя и пароль.</p>
                            {%if form.non_field_errors%}
                            <div class="alert alert-danger" role="alert">
                                {{form.non_field_errors}}
                            </div>
                            {%endif%}
                            <form method="post" action=".">
                                {%csrf_token%}
                                {%for field in form%}
                                <div class="mb-3">
                                    <label for="{{field.auto_id}}"
                                        class="form-label visually-hidden">{{field.label}}</label>
                                    {{field}}
                                </div>
                                {%endfor%}
                                <input type="hidden" name="next" value="{{next}}">
                                <button type="submit" class="btn btn-primary mb-3">Войти</button>
                                <a href="{%url 'password_reset'%}" class="ms-3">Сброс пароля</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}