{%if common_tags%}
<div class="card my-4">
    <h5 class="card-header">Тэги</h5>
    <div class="card-body">
        <div class="d-flex flex-wrap">
            {%for tag in common_tags%}
            <a href="{%url 'blog:tag' tag.slug%}" class="m-2 h5 text-primary">{{tag}}</a>
            {%endfor%}
        </div>
    </div>
</div>
{%endif%}
{%if related_posts%}
<div class="card my-4">
    <h5 class="card-header">Похожие публикации</h5>
    {%for post in related_posts%}
    <div class="list-group list-group-flush">
        <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text">{{post.descriptive|safe}}</p>
            <div class="d-flex justify-content-end">
                {% for tag in post.tag.all %}
                <a href="{%url 'blog:tag' tag.slug%}" class="badge bg-info text-dark mb-2 me-2">#{{ tag }}</a>
                {% endfor %}
            </div>
            <a href="{{post.get_absolute_url}}" class="card-link">Читать пост</a>
        </div>
    </div>
    {%endfor%}
</div>
{%endif%}