<div class="card my-4">
    <div class="card-header">Прокомментируй:</div>
    <div class="card-body">
        <form action="." method="post">
            {%csrf_token%}
            {{form.text}}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>
{%for comment in comments%}
<div class="border rounded-3 mb-3">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img class="rounded-circle m-1" src="http://placehold.it/50x50" alt="Аватар">
        </div>
        <div class="flex-grow-1 ms-3">
            <div class="d-flex justify-content-between">
                <div class="mt-0">Автор: {{comment.author}}</div>
                <div class="m-1">Опубликовано: {{comment.created_date}}</div>
            </div>
            <div class="m-1">
                {{comment.text}}
            </div>
        </div>
    </div>
</div>
{%endfor%}