<section class="my-pagination">
    <nav aria-label="Paginate me">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a href="#" class="page-link" tabindex="-1">Предыдущая</a>
            </li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">Следующая</a></li>
        </ul>
    </nav>
</section>